$gallery-width: 21rem;
$gallery-height: 30rem;
$transition-duration: 0.3s;

@keyframes moving-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc($gallery-width - 100%));
  }
}

.gallery {
  .grid-item {
    cursor: pointer;
  }

  .carousel-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .carousel {
      width: $gallery-width;
      overflow: hidden;
      position: relative;
      z-index: 3;

      .carousel-list {
        display: flex;
        width: fit-content;
        justify-content: center;

        &.transitioning {
          transition: $transition-duration ease-out;
        }

        &.moving-left {
          animation-name: moving-right;
          animation-duration: $transition-duration;
          animation-fill-mode: forwards;
          animation-direction: reverse;
        }

        &.moving-right {
          animation-name: moving-right;
          animation-duration: $transition-duration;
          animation-fill-mode: forwards;
        }

        .carousel-item {
          display: flex;
          justify-content: center;
          align-items: center;
          width: $gallery-width;
          height: $gallery-height;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
          }
        }
      }

      .carousel-control {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .control {
          height: 100%;
          width: 30%;
          display: flex;
          align-items: center;
          cursor: pointer;

          &.left {
            justify-content: flex-start;
          }
          &.right {
            justify-content: flex-end;
          }

          .arrow {
            width: 2rem;
            &.right {
              transform: rotate(180deg);
            }
          }
        }
      }
    }

    .carousel-indicator {
      display: flex;
      justify-content: center;
      margin-top: 1rem;

      .indicator {
        width: 1rem;
        height: 1rem;
        padding: 0.2rem;
        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background-color: var(--dark-grey-color);
        }
        position: relative;
        z-index: 3;

        &.active {
          &::before {
            background-color: var(--dark-color);
          }
        }
      }
    }
  }
}

.carousel-modal {
  max-width: 90vw;
  max-height: 90vh;

  .header {
    display: none;
  }

  .content {
    padding: 0;
    max-height: none;
    width: 100%;
    height: 100%;

    .carousel-wrapper {
      width: 100%;
      height: 100%;
      position: relative;

      .close-button-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 102;
        padding: 1rem;

        .close-button {
          width: 2rem;
          height: 2rem;
          background-color: rgba(0, 0, 0, 0.3);
          border-radius: 50%;

          &::before,
          &::after {
            background-color: white;
            left: 50%;
            width: 0.1rem;
            height: 50%;
          }
        }
      }

      .carousel {
        width: 100%;
        height: 100%;

        .carousel-list {
          width: 100%;
          height: 100%;

          .carousel-item {
            width: 100%;
            height: 100%;

            img {
              object-fit: contain;
              width: 100%;
              height: 100%;
            }
          }
        }
              .carousel-control {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                pointer-events: none;
        
                .control {
                  padding: 1rem;
                  cursor: pointer;
                  pointer-events: auto;
            .arrow {
              width: 2rem;
              height: 2rem;
              fill: white;
              filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));

              &.right {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
  }
}


