@keyframes modal-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  animation-name: modal-fade-in;
  animation-duration: 0.5s;
  opacity: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  > .modal {
    background-color: var(--light-color);
    animation-name: modal-fade-in;
    animation-duration: 0.5s;
    opacity: 1;

    .header {
      padding: 0.5rem;
      background-color: var(--light-color);
      z-index: 7;
      display: flex; /* Added for flexbox positioning */
      justify-content: flex-end; /* Pushes close button to the end */

      .close-button-wrapper {
        display: flex;
        justify-content: space-between;
        .close-button {
          position: relative;
          z-index: 3;
          width: 2rem; /* Increased size */
          height: 2rem; /* Increased size */
          background-color: transparent; /* Transparent background */
          border-radius: 50%; /* Ensure it remains circular */
          &::before {
            content: "";
            width: 0.15rem; /* Adjusted for new size */
            height: 70%; /* Adjusted for new size */
            background-color: black; /* Black 'X' */
            position: absolute;
            transform: rotate(45deg);
            top: 15%; /* Adjusted for new size */
            left: 50%;
          }
          &::after {
            content: "";
            width: 0.15rem; /* Adjusted for new size */
            height: 70%; /* Adjusted for new size */
            background-color: black; /* Black 'X' */
            position: absolute;
            transform: rotate(135deg);
            top: 15%; /* Adjusted for new size */
            left: 50%;
          }
        }
      }
    }
    .content {
      max-height: 80vh;
      overflow: auto;
    }
  }
}
